<template>
  <div class="main-dashboard" :class="{ [telemetryBarPosition] : showTelemetryBar }">
    <section class="top-section">
      <Gauge
        :gauge-type="'speed'"
        :min="0"
        :max="3"
        :label="'Speed:'"
        :value="speed"/>
      <Gauge
        :gauge-type="'ampere'"
        :min="0"
        :max="4"
        :label="'Battery Amp:'"
        :value="batteryAmp"/>
      <Gauge
        :gauge-type="'voltage'"
        :min="0"
        :max="9"
        :label="'Battery Volt:'"
        :value="batteryVolt"/>
    </section>
    <div class="virtual-stick-wrapper">
      <VirtualCartesianStick
        :height="virtualStickHeight"
        :width="virtualStickWidth"
        @cartesian-x="onCartesianX"
        @cartesian-y="onCartesianY" />
    </div>
  </div>
</template>

<script>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
import RobotController from '../controllers/RobotController';
import VirtualCartesianStick from './VirtualCartesianStick/VirtualCartesianStick.vue';
import Gauge from './Gauge/Gauge.vue';

export default {
  name: 'MainDashboard',
  components: {
    VirtualCartesianStick,
    Gauge,
  },
  setup() {
    const robotController = new RobotController({});
    const batteryVolt = ref(0);
    const batteryAmp = ref(0);
    const speed = ref(0);
    const cartesianX = ref(0);
    const cartesianY = ref(0);
    const store = useStore();
    const virtualStickHeight = ref(400);
    const virtualStickWidth = ref(400);
    const telemetryBarPosition = computed(() => store.state.telemetryBarPosition);
    const showTelemetryBar = computed(() => store.state.showTelemetryBar);

    const mobile = window.matchMedia('(max-width: 600px)');
    if (mobile.matches || showTelemetryBar.value) {
      virtualStickHeight.value = 200;
      virtualStickWidth.value = 200;
    }

    robotController.untilWebSocketReady.promise.then(() => {
      robotController.subscribe('telemetry.battery_volt', (value) => {
        batteryVolt.value = value.toFixed(2);
      });
      robotController.subscribe('telemetry.battery_amp', (value) => {
        batteryAmp.value = value.toFixed(2);
      });
      robotController.subscribe('telemetry.speed', (value) => {
        speed.value = value.toFixed(2);
      });

      setInterval(() => {
        robotController.getTelemetry().then((response) => {
          store.commit('addTelemetryLog', JSON.stringify(response));
        });
      }, store.state.updateTelemetryLogsInterval);
    });

    const onCartesianX = (value) => {
      cartesianX.value = value;
      robotController.setX(value);
    };

    const onCartesianY = (value) => {
      cartesianY.value = value;
      robotController.setY(value);
    };

    return {
      batteryVolt,
      batteryAmp,
      speed,
      onCartesianX,
      onCartesianY,
      cartesianX,
      cartesianY,
      virtualStickHeight,
      virtualStickWidth,
      telemetryBarPosition,
      showTelemetryBar,
    };
  },
};
</script>

<style scoped lang="scss">
  .main-dashboard {
    &.right {
      padding-right: 340px;
    }

    &.bottom::v-deep(.gauge-container) {
      width: 150px;
    }
  }

  .top-section {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .virtual-stick-wrapper {
    margin-top: 20px;
  }
</style>
