<template>
  <div ref="menuRoot">
    <div class="menu">
      <div class="menu-icon"
           @click="toggleExpand"
           :class="{ 'expanded': isExpanded }"></div>
    </div>
    <div class="menu-sidebar" :class="{ 'expanded': isExpanded }">
      <div>
        <div class="menu-sidebar-item" @click="toggleTelemetryLogsBar">
          {{ showTelemetryBar ? 'Hide ' : 'Show ' }} telemetry logs
        </div>
      </div>

      <div class="menu-sidebar-item--bottom">
        Version 0.1.0
      </div>
    </div>
  </div>
</template>

<script>
import { computed, onMounted, ref } from 'vue';
import { useStore } from 'vuex';

export default {
  name: 'Menu',
  setup() {
    const isExpanded = ref(false);
    const menuRoot = ref(null);
    const toggleExpand = () => { isExpanded.value = !isExpanded.value; };

    onMounted(() => {
      document.addEventListener('click', (event) => {
        if (!isExpanded.value) {
          return;
        }
        if (!menuRoot.value.contains(event.target)) {
          toggleExpand();
        }
      });
    });

    const store = useStore();

    return {
      menuRoot,
      isExpanded,
      toggleExpand,
      showTelemetryBar: computed(() => store.state.showTelemetryBar),
      toggleTelemetryLogsBar: () => {
        store.commit('showTelemetryBar', !store.state.showTelemetryBar);
        toggleExpand();
      },
    };
  },
};
</script>

<style scoped lang="scss">
@import 'src/styles';

.menu {
  padding: 10px;
}

.menu-icon {
  background-image: url('~@/assets/menu.svg');
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
  transition: margin-left 200ms ease 0s;

  &.expanded {
    margin-left: 200px;
  }
}

.menu-sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  bottom: 0;
  background-color: $theme-text-secondary-on-background;
  width: 200px;
  transition: left 200ms ease 0s;
  color: white;
  z-index: 11;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &.expanded {
    left: 0;
  }

  &-item {
    font-weight: 600;
    padding: 20px 10px;
    cursor: pointer;

    &--bottom {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
}

</style>
