<template>
  <div class="telemetry-logs" v-if="showTelemetryBar" :class="{ [position]: true }">
    <div class="close" @click="onClose"></div>
    <div class="telemetry-console" ref="console">
      <div v-for="(log, index) in logs" :key="index">
        {{log}}
      </div>
    </div>
  </div>
</template>

<script>
import { useStore } from 'vuex';
import {
  computed, onMounted, ref, watch,
} from 'vue';

export default {
  name: 'TelemetryLogs',
  setup() {
    const store = useStore();
    const position = ref('right');
    const logs = computed(() => store.state.telemetryLogs);
    const console = ref(null);

    setInterval(() => {
      const mobile = window.matchMedia('(max-width: 600px)');
      const tabletPortrait = window.matchMedia('(min-width:641px)');
      const tabletLandscape = window.matchMedia('(min-width:961px)');
      const desktop = window.matchMedia('(min-width:1025px)');

      if (mobile.matches) {
        position.value = 'bottom';
      }

      if (tabletPortrait.matches) {
        position.value = 'bottom';
      }

      if (tabletLandscape.matches) {
        position.value = 'right';
      }

      if (desktop.matches) {
        position.value = 'right';
      }

      store.commit('telemetryBarPosition', position.value);
    }, 500);

    onMounted(() => {
      watch(logs, () => {
        if (console.value) {
          console.value.scrollTop = console.value.scrollHeight;
        }
      });
    });

    return {
      position,
      console,
      logs,
      showTelemetryBar: computed(() => store.state.showTelemetryBar),
      onClose: () => { store.commit('showTelemetryBar', false); },
    };
  },
};
</script>

<style scoped lang="scss">
@import 'src/styles';

.telemetry-logs {
  position: fixed;
  background-color: $theme-text-primary-on-background;

  &.bottom {
    height: 200px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.right {
    width: 340px;
    right: 0;
    bottom: 0;
    top:0;
    .telemetry-console {
      margin-right: 10px;
      font-size: 68%;
      height: auto;
    }
  }
}

.telemetry-console {
  height: 140px;
  overflow: hidden;
  margin-right: 50px;
  padding-left: 10px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 10px;
  overflow-y: scroll;
  font-size: 80%;
}

.close {
  background-image: url('~@/assets/close.svg');
  width: 26px;
  height: 26px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
</style>
