<template>
  <div ref="root" class="virtual-stick" :style="canvasStyles">
  </div>
</template>

<script>
import { onMounted, ref } from 'vue';
import VirtualCartesianStick from '../../controllers/VirtualCartesianStick';

export default {
  name: 'VirtualCartesianStick',
  props: ['width', 'height'],
  setup(props, { emit }) {
    const root = ref(null);
    const height = ref(props.height);
    const width = ref(props.width);

    onMounted(() => {
      const virtualStick = new VirtualCartesianStick({ container: root.value });
      setInterval(() => {
        emit('cartesian-x', virtualStick.cartesianX);
        emit('cartesian-y', virtualStick.cartesianY);
      }, 50);
    });

    return {
      root,
      canvasStyles: `height: ${height.value}px; width:${width.value}px;`,
    };
  },
};
</script>

<style scoped lang="scss">
.virtual-stick {
  margin:0 auto;
  display: flex;
  justify-content: center;
  justify-items: center;

  user-select: none;
  * > {
    user-select: none;
  }
}
</style>
