<template>
  <Menu />
  <MainDashboard />
  <TelemetryLogs />
</template>

<script>
import MainDashboard from './components/MainDashboard.vue';
import TelemetryLogs from './components/TelemetryLogs.vue';
import Menu from './components/Menu.vue';

export default {
  name: 'App',
  components: {
    TelemetryLogs,
    MainDashboard,
    Menu,
  },
};
</script>

<style lang="scss">
@import 'src/styles';

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  background-color: $theme-primary;
}
</style>
