<template>
  <div ref="root" class="gauge-container" :class="{ [gaugeType]: true }">
    <template v-if="gaugeType === 'speed'">
      <span class="value-text-small">km/hr</span>
    </template>
  </div>
</template>

<script>
import SvgGauge from 'svg-gauge';
import {
  onMounted,
  ref, watch,
} from 'vue';

export default {
  name: 'Gauge',
  props: ['value', 'min', 'max', 'gaugeType', 'label'],
  setup(props) {
    const root = ref(null);

    let defaultOptions = {};

    const format = (value) => (value).toLocaleString('en-EN', {
      minimumFractionDigits: 2, maximumFractionDigits: 2,
    });

    switch (props.gaugeType) {
      case 'speed':
        defaultOptions = {
          min: props.min,
          max: props.max,
          dialStartAngle: 90,
          dialEndAngle: 0,
          label: (value) => `${props.label ?? ''} ${format(Math.round(value * 100) / 100)}`,
        };
        break;
      case 'ampere':
      case 'voltage':
        defaultOptions = {
          min: props.min,
          max: props.max,
          value: props.value,
          label: (value) => `${props.label ?? ''} ${format(Math.round(value * 100) / 100)}`,
        };
        break;
      default:
        break;
    }

    const gauge = ref(null);

    onMounted(() => {
      const options = { ...defaultOptions };
      gauge.value = new SvgGauge(root.value, options);
      gauge.value.setValue(options.initialValue);
    });

    watch(() => props.value, (toValue) => {
      gauge.value.setValueAnimated(Number(toValue), 1);
    });

    return {
      root,
    };
  },
};
</script>

<style scoped lang="scss">
    .gauge-container {
      width: 200px;
      height: auto;
      display: block;
      padding: 10px;
      overflow: hidden;
      position: relative;

      &.ampere::v-deep(.value),
      &.voltage::v-deep(.value) {
        stroke: #C9DE3C;
        stroke-width: 5;
      }

      &.ampere::v-deep(.value-text),
      &.voltage::v-deep(.value-text) {
        fill: #C9DE3C;
        font-size: 45%;
      }

      &.ampere::v-deep(.dial),
      &.voltage::v-deep(.dial) {
        stroke: #334455;
        stroke-width: 2;
      }

      &.speed::v-deep(.dial) {
        stroke: #334455;
        stroke-width: 10;
      }

      &.speed::v-deep(.value) {
        stroke: #F32450;
        stroke-dasharray: none;
        stroke-width: 10;
      }

      &.speed::v-deep(.value-text) {
        fill: #F32450;
        transform: translate3d(26%, 20%, 0);
        display: inline-block;
      }

      &.speed::v-deep(.value-text-small) {
        color: #F32450;
        font-weight: 100;
        position: absolute;
        bottom: 18%;
        right: 10%;
        display: inline-block;
        font-size: 90%;
      }

      &.speed::v-deep(.value-text) {
        color: #F32450;
        font-size: 53%;
      }
    }

</style>
